h1 {
    text-align: center;
}

section {
    width: 500px;
    margin: auto;
    }

.col_1{
    display: inline-block;
}

.col-2{
    width: 45.5%;
    display:inline-block;
}

label{
    display:block;
}